---
import '../styles/global.css'
import Header from '../components/Header.astro' ;
import Footer from '../components/Footer.astro' ;

const pageTitle = "About Me";

const identity = {
    first_name: "John",
    country: "Norway",
    occupation: "Student",
    hobbies: ["programming", "chess"],
};

const skills = ["rust", "C++", "java"];

const display = false;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skills {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
	</head>
	<body>
        <Header />

		<h1>{pageTitle}</h1>
        <p> I hope to work with rust in the future!</p>

        <ul>
            <li>My name is {identity.first_name}.</li>
            <li> From {identity.country}.</li>
            <br>
            Some of my hobbies are: 
                <li>{identity.hobbies[1]}</li>
                <li>{identity.hobbies[0]}</li>
        </ul>

        <p>My Skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skills">{skill}</li>)}
        </ul>

        <h3>{display ? <p> I want to display this</p> : <p> I didn't want to display this</p>}</h3>

        <Footer />
	</body>
</html>
